

.progress-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-step{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #b7927c;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center; 
        &.active{
            background-color: #a25c34;
        }
    }
}